ul {
    padding: 0;
}

.quiz-nav-bar {
    display: inline;
    width: 100%;
}


.quiz-nav-bar li {
   
    font-size: 20px;
    /* position: relative; */
    width: 30px;
    display: inline-block;
    border: cadetblue 1px solid; 
}
.nav-item.inactive {
    visibility: hidden;
    /* box-shadow: none;
	background: none;
    background-color: cadetblue; */
}
.nav-item {
    cursor: pointer;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    color: cadetblue;
    font-family: Arial;
    background-color: white;
}

.nav-item.active {
    box-shadow: none;
	background: none;
    background-color: rgb(165, 237, 240);
    border-style: inset;
    border-width: 2px;
}

/* .answer-button, .nav-button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	/* color:#666666; */
    /* color: black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none; */
/* } */

/* .answer-button {
    width: 300px;
    height: 50px;
} */

/* .answer-button:hover, .nav-button:hover {
	background:linear-gradient(to bottom, cadetblue 5%, rgb(131, 183, 184) 100%);
	background-color: rgb(64, 116, 117);
} */
/*
.answer-button.active {
    box-shadow:inset 0px -3px 7px 0px cadetblue;
	background:linear-gradient(to bottom, rgb(131, 183, 184) 5%, cadetblue 100%);
	background-color: cadetblue;
} */







